// Colors
$background-color: #30373d;

$main-text-color: #2A4557;
$second-text-color: #777777; // Ligth gray
$accent-color: #e03555;
$navigation-text-color: #ffffff; /* Background text color */

$header-background-color: rgba(0, 0, 0, 0.7);
$header-text-color: #fff;

$footer-background-color: rgba(0, 0, 0, 0.7);
$footer-text-color: #fff;
$footer-accent-color: #e03555;

$aside-text-color: #2a4557;
$quote-text-color: #fff;
$status-text-color: #fff;

// Transitions
$main-transition: 0.33s;

